.list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.nav-tabs li a {
    /*navbar item colour - mobile*/
    color: #f72f2f;
}
.navbar {
    margin-bottom: 0;
    /*navbar colour #201e1d;*/
    background-color: #3F3F3F;
    border: 0;
    opacity: 0.9;
}
.navbar li a,
.navbar .navbar-brand {
    /*Navbar items colour*/
    color: white !important;
    font-size: 16px;
}
.navbar-nav li a:hover {
    /*Navbar items hover colour*/
    color: purple;
}
.container {
    padding-bottom: 120px;
    min-height: 100%;
}
.ptitle {
    text-align: right;
}
.parts {
    background-color: white;
    text-align: center;
    color: #3f3f3f;
    padding: 10px;
    margin-top: 10px;
}
.aparts {
    background-color: white;
    border-radius: 25px;
    border: 5px solid #3f3f3f;
    padding: 20px;
    text-align: center;
    color: #3f3f3f;
}
.partscontainer {
    text-align: center;
}
img {
    margin: 0 auto;
}
html,
body {
    height: 100%;
    margin: auto;
    padding: 0;
    /*content text colour*/
    color: #5e5c5b;
    background-color: white;
}
.homecontainer {
    background-color: white;
    border-radius: 15px;
    border: 5px solid white;
    padding: 10px;
}
.redbox {
    background-color: #ed80e0;
    color: #3f3f3f;
    border-radius: 250px;
    border: 8px solid white;
    padding: 50px;
}
.greenbox {
    background-color: #42f4ce;
    color: #3f3f3f;
    border-radius: 250px;
    border: 8px solid white;
    padding: 60px;
}
.purplebox {
    background-color: #809eed;
    color: black;
    border-radius: 250px;
    border: 8px solid white;
    padding: 55px;
}
.yellowbox {
    background-color: #f4f281;
    color: #3f3f3f;
    border-radius: 250px;
    border: 8px solid white;
    padding: 55px;
}
.assembly-header {
    text-align: center;
    width: 100%;
}
.assembly-td {
    text-align: center;
    width: 50%;
}
.partdetail {
    padding-top: 50px;
}
.partimg {
    border-radius: 45px;
    border: 5px solid #3f3f3f;
    padding: 20px;
    margin-top: 10px;
}
.titlediv {
    padding-top: 7%;
    padding-left: 40%;
    background-color: #3F3F3F;
    color: white;
}
.sectitle {
    color: #3f3f3f;
    text-align: center;
}
.toptitle {
    border-radius: 25px;
    padding: 0;
    padding-top: 0;
}
.homedashvalue {
    text-align: center;
}
.navbar-nav > li > .dropdown-menu {
    background-color: #3F3F3F;
}
.navbar-nav > li > .dropdown-menu a:hover {
    background-color: black;
}
.dropdown-toggle:active,
.open .dropdown-toggle {
    background: #FFF !important;
    color: #000 !important;
}
.plantname {
    color: #978dae;
}
.navaccount {
    border: 2px solid #f8831b;
}
a:hover {
    color: #f8831b;
}
footer {
    background-color: #201e1d;
    opacity: 0.9;
    text-align: right;
    color: white;
    height: 50px;
}